{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row row-content">
        <h3>Select your favorite team</h3>
        <div class="col-10 offset-1 offset-md-3 col-md-6">
            <form action="{{ url_for('favorite') }}" method="post">
                <div class="form-group">
                    <label for="favorite">Teams:</label>
                    <select class="form-control" id="favorite" name="favorite">
                        {% for teams_franchise in teams_franchises %}
                            {% if teams_franchise.franchID == current_user.teamId %}
                                <option value="{{ teams_franchise.franchID }}" selected="selected">{{ teams_franchise.franchName }}</option>
                            {% else %}
                                <option value="{{ teams_franchise.franchID }}">{{ teams_franchise.franchName }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group row">
                    <div class="offset-md-4 col-md-4">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
        {% if current_team %}
        <h3>Roster for {{ current_team.franchName }} in {{ selected_year }}</h3>
        <div class="col-10 offset-1 offset-md-3 col-md-6">
            <form action="{{ url_for('profile') }}" method="post">
                <div class="form-group">
                    <label for="year">Year:</label>
                    <select class="form-control" id="year" name="year">
                        {% for year in range(2020, 1870, -1) %}
                            {% if year == (selected_year|int) %}
                                <option value="{{ year }}" selected="selected">{{ year }}</option>
                            {% else %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group row">
                    <div class="offset-md-4 col-md-4">
                        <button type="submit" class="btn btn-info">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Birthplace</th>
                        <th>Hitter</th>
                        <th>Pitcher</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for roster in rosters %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ roster[0] }}</td>
                            <td>{{ roster[1] }}</td>
                            <td>{{ roster[2] }}</td>
                            {% if roster[3] in hitters %}
                                <td>Y</td>
                            {% else %}
                                <td>N</td>
                            {% endif %}
                            {% if roster[3] in pitchers %}
                                <td>Y</td>
                            {% else %}
                                <td>N</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}